/*
 * Embed Google Fonts
 */

	@import url('https://fonts.googleapis.com/css?family=Bevan|Rye|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Special+Elite');



/*
 * HTML Elements
 */

	body {
		background: #ffc63e;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Bevan', cursive;
		letter-spacing: .125rem;
	}
	p, li {
		font-family: 'Source Sans Pro', sans-serif;
	}



/*
 * Fonts
 */

	.bevan {
		font-family: 'Bevan', cursive;
	}
	.source-sans-pro {
		font-family: 'Source Sans Pro', sans-serif;
	}
	.rye {
		font-family: 'Rye', cursive;
	}
	.special-elite {
		font-family: 'Special Elite', cursive;
	}



/*
 * Colors
 */

	/* Named shades of white */
	.color-antiquewhite {
		color: AntiqueWhite;
	}
	.color-floralwhite {
		color: FloralWhite;
	}
	.color-ghostwhite {
		color: GhostWhite;
	}
	.color-navajowhite {
		color: NavajoWhite;
	}
	.color-white {
		color: White;
	}
	.color-whitesmoke {
		color: WhiteSmoke;
	}

	/* Salsa Fuego color palette */
	.color-salsa-fuego-black {
		color: #231f20;
	}
	.color-salsa-fuego-white {
		color: #fffef9;
	}
	.color-salsa-fuego-red {
		color: #b23028;
	}
	.color-salsa-fuego-orange {
		color: #d96931;
	}
	.color-salsa-fuego-yellow {
		color: #ffc63e;
	}
	.color-salsa-fuego-green {
		color: #007660;
	}
	.color-salsa-fuego-mint {
		color: #5b9d7a;
	}
	.color-salsa-fuego-sand {
		color: #e0bb7f;
	}



/*
 * Margins
 */

	.mb-6 {
		margin-bottom: 4.5rem;
	}
	.ml-6 {
		margin-left: 4.5rem;
	}
	.mr-6 {
		margin-right: 4.5rem;
	}
	.mt-6 {
		margin-top: 4.5rem;
	}
	.mb-7 {
		margin-bottom: 6rem;
	}
	.ml-7 {
		margin-left: 6rem;
	}
	.mr-7 {
		margin-right: 6rem;
	}
	.mt-7 {
		margin-top: 6rem;
	}
	.mb-8 {
		margin-bottom: 7.5rem;
	}
	.ml-8 {
		margin-left: 7.5rem;
	}
	.mr-8 {
		margin-right: 7.5rem;
	}
	.mt-8 {
		margin-top: 7.5rem;
	}
	.mb-9 {
		margin-bottom: 9rem;
	}
	.ml-9 {
		margin-left: 9rem;
	}
	.mr-9 {
		margin-right: 9rem;
	}
	.mt-9 {
		margin-top: 9rem;
	}
	.mb-10 {
		margin-bottom: 10.5rem;
	}
	.ml-10 {
		margin-left: 10.5rem;
	}
	.mr-10 {
		margin-right: 10.5rem;
	}
	.mt-10 {
		margin-top: 10.5rem;
	}
	.mb-11 {
		margin-bottom: 12rem;
	}
	.ml-11 {
		margin-left: 12rem;
	}
	.mr-11 {
		margin-right: 12rem;
	}
	.mt-11 {
		margin-top: 12rem;
	}
	.mb-12 {
		margin-bottom: 13.5rem;
	}
	.ml-12 {
		margin-left: 13.5rem;
	}
	.mr-12 {
		margin-right: 13.5rem;
	}
	.mt-12 {
		margin-top: 13.5rem;
	}
	.mb-13 {
		margin-bottom: 15rem;
	}
	.ml-13 {
		margin-left: 15rem;
	}
	.mr-13 {
		margin-right: 15rem;
	}
	.mt-13 {
		margin-top: 15rem;
	}



/*
 * Widths
 */

	.w-10 {
		width: 10%;
	}
	.w-20 {
		width: 20%;
	}
	.w-30 {
		width: 30%;
	}
	.w-40 {
		width: 40%;
	}
	.w-60 {
		width: 60%;
	}
	.w-70 {
		width: 70%;
	}
	.w-80 {
		width: 80%;
	}
	.w-90 {
		width: 90%;
	}



/*
 * Max-widths
 */

	.mw-15-px {
		max-width: 15px;
	}
	.mw-30-px {
		max-width: 30px;
	}
	.mw-45-px {
		max-width: 45px;
	}



/*
 * .hero styles
 */

	.hero {
		background-color: inherit;
		background-image: url(../images/jumbotron/AdobeStock_136832969_Preview.jpeg);
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
	}



/*
 * .parallax styles
 */

	.parallax {
		background-attachment: fixed;
		background-color: inherit;
		background-image: url(../images/jumbotron/AdobeStock_136833074_Preview.jpeg);
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
		height: 4rem;
	}



/*
 * .navbar-* styles
 */

	.navbar-salsa-fuego-black {
		color: #231f20;
	}
	.navbar-salsa-fuego-black:hover, .navbar-salsa-fuego-black:focus {
	color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-nav .nav-link {
		color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-nav .nav-link:hover, .navbar-salsa-fuego-black .navbar-nav .nav-link:focus {
		color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-nav .nav-link.disabled {
		color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-nav .show > .nav-link,
	.navbar-salsa-fuego-black .navbar-nav .active > .nav-link,
	.navbar-salsa-fuego-black .navbar-nav .nav-link.show,
	.navbar-salsa-fuego-black .navbar-nav .nav-link.active {
		color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-toggler {
		color: #231f20;
		border-color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#231f20' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.navbar-salsa-fuego-black .navbar-text {
		color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-text a {
	color: #231f20;
	}
	.navbar-salsa-fuego-black .navbar-text a:hover, .navbar-salsa-fuego-black .navbar-text a:focus {
		color: #231f20;
	}



/*
 * .display-* styles
 */

	.display-1 {
		font-size: 4.75rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.display-2 {
		font-size: 4.25rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.display-3 {
		font-size: 3.25rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.display-4 {
		font-size: 2.25rem;
		font-weight: 300;
		line-height: 1.2;
	}

	@media (min-width: 576px) {
		.display-1 {
			font-size: 5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-2 {
			font-size: 4.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-3 {
			font-size: 3.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-4 {
			font-size: 2.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
	}

	@media (min-width: 768px) {
		.display-1 {
			font-size: 5.25rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-2 {
			font-size: 4.75rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-3 {
			font-size: 3.75rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-4 {
			font-size: 2.75rem;
			font-weight: 300;
			line-height: 1.2;
		}
	}

	@media (min-width: 992px) {
		.display-1 {
			font-size: 5.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-2 {
			font-size: 5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-3 {
			font-size: 40rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-4 {
			font-size: 3rem;
			font-weight: 300;
			line-height: 1.2;
		}
	}

	@media (min-width: 1200px) {
		.display-1 {
			font-size: 6rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-2 {
			font-size: 5.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-3 {
			font-size: 4.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
		.display-4 {
			font-size: 3.5rem;
			font-weight: 300;
			line-height: 1.2;
		}
	}



